{% extends 'base_main.html' %}   {% load crispy_forms_tags %} 
{% block page_content %}
  
    <form action="" method="post" enctype="multipart/form-data">
    

      <div class="form-group">
        {% csrf_token %}

     

        {{form|crispy}}

        
    </div>
    <button  class="btn btn-primary">Update</button> 
      
    </form>



    <script>

      dselect(document.querySelector('#id_domain_provider'), {
  
          search: true
      });
  

    
  </script>
  
  {% endblock page_content %}
