{% extends 'base_main.html' %}   {% block page_content %}






<table id="data-table" class="table">
  <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Price</th>
        <th scope="col">Joined</th>
      </tr>
  </thead>
  <tbody>
    {% for w in article %}
      <tr>
        <tr>
          <th ><a href="{% url 'writer_app:writer_detail' wr.id %}">{{w.website_name}}</a></th>
          <td colspan="2">{{a.website_url}}</td>
          <td>{{a.article_status}}</td>
          <td>{{a.main_keyword}}</td>
          <td></td>
        </tr>

        {% endfor %}
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>...</th>
      </tr>
  </tfoot>
</table>





{% endblock page_content %}

