{% extends 'base_main.html' %}   {% load crispy_forms_tags %} 


{% block page_content %}
  
    <form action="" method="post" enctype="multipart/form-data">
    
      <div class="col-4">
      <div class="form-group">
        {% csrf_token %}

     

        {{form|crispy}}

        
    </div>
    <button  class="btn btn-primary">Update</button> 
      </div>
    </form>

    

    <script>

var select_box_element = document.querySelector('id_domain_provider');

const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: false, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
}
dselect(document.querySelector('#id_hosting_provider'), config)
    
  </script>
  
  {% endblock page_content %}
